# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
import pandas as pd
data=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
data.columns=data.columns.str.lower().str.strip().str.replace(' ','_')
#data.rename({'st':'state'}, inplace = True)
#above is wrong kept it for my review, I shoud mention 'columns' in the code
data.rename(columns ={'st':'state'}, inplace = True)
data.head(4)
display(data.duplicated().sum())

2936

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [2]:
#data.gender.unique()
#array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)
data.gender=data.gender.map({'F':'F', 'M':'M', 'Femal':'F', 'Male':'M', 'female':'F'})
#data.state.unique()
# this is wrong data.state=data.state.map({'Cali':'California','AZ':'Arizona', 'WA':'Washington'})
#map : any values that don't have a corresponding mapping in dic will be replaced with NaN .
data.state=data.state.map({'Washington':'Washington','Arizona':'Arizona','Nevada':'Nevada', 'California':'California','Oregon':'Oregon','Cali':'California','AZ':'Arizona', 'WA':'Washington'})
data.education=data.education.str.replace("Bachelors","Bachelor")
data.vehicle_class=data.vehicle_class.str.replace(["Sports Car", "Luxury SUV", "Luxury Car"],"Luxury").fillna(data.vehicle_class)
data.customer_lifetime_value = data.customer_lifetime_value.str.replace('%','')
data.head(4)
display(data.duplicated().sum())

2936

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

In [18]:
data.dtypes
data.nunique()
data.shape

(1071, 11)

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [4]:
data.customer_lifetime_value = data.customer_lifetime_value.astype(float)
#data.number_of_open_complaints.unique()
#array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan]
data.number_of_open_complaints = data.number_of_open_complaints.str.split('/').str[1].astype(float)
#data.number_of_open_complaints.unique()
data.dtypes
#data_nul_values_before_cleaning=data.isnull().sum()
#display(data_nul_values_before_cleaning)
data.duplicated().sum()

2936

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [10]:
data.count()
data = data.dropna(how='all')
# I dorpped rows where all the values are null, based on the head there is no column with all null values
data_nul_values_after_cleaning=data.isnull().sum()
# I hope I did it correctly now I have only in gender and customerlifevalue null values
# I prefer to handle the gender missing values with making M:0, F:1 and Nan:2, in2024 we have a lot of genders :) 
data.gender=data.gender.map({'M':0,'F':1}).fillna(2)
# here there was only 3 missing values I think using mean is pretty much alright.
data.customer_lifetime_value = data.customer_lifetime_value.fillna(data.customer_lifetime_value.mean)
display(data.select_dtypes(include='number'))
column_number=data.select_dtypes(include='number').columns # I got error because I had forgotten the .columns
data[column_number]=data[column_number].astype(int)
data.duplicated().sum()

,gender,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
0,2.0,0,1000,0,2
1,2.0,0,94,0,1131
2,2.0,48767,108,0,566
3,2.0,0,106,0,529
4,2.0,36357,68,0,17
...,...,...,...,...,...
1066,2.0,38644,78,1,361
1067,2.0,63209,102,2,207
1068,2.0,16061,88,0,633
1069,2.0,79487,114,0,547
1070,2.0,54230,112,0,537

0

In [6]:
#these notes are for me to come back and be reminded 
#column_number2=data.columns.select_dtypes(include='number') wrong 
#select_dtypes() is meant to be applied directly on a DataFrame, not on a pandas Index object.
#data.columns makes an index object
#data[column_number]=data[column_number].astype(int)

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling 
duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [11]:
data.duplicated().sum()
# there is nor duplicated apprantley ! 
# I went back and checked everything, I guess I dropped all the rows with completely null values
# and that is why I do not have any duplications anymore, I hope!

0

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [15]:
# chatgpt is helping me to instal the autorelated,
try:
    import IPython
    print("IPython is installed. You are using IPython or Jupyter Notebook.")
except ImportError:
    print("IPython is not installed. You are not using IPython or Jupyter Notebook.")

%load_ext autoreload
%autoreload 2

IPython is installed. You are using IPython or Jupyter Notebook.
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
import pandas as pd
data=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
import numpy as np
# I only made tis one, sorrt I am very tired and all other things I tried did not work the way I wnated !
# I wanted to pass gender as a coulmn and not the whole data 

def cleaning_data_general (data: pd.DataFrame):
    #general cleaning for column names 
    
    data2=data.copy()
    data2.columns=data2.columns.str.lower().str.strip().str.replace(' ','_')
    data2.rename(columns ={'st':'state'}, inplace = True)
    # dropping rows where all the values are null
    data2 = data2.dropna(how = 'all')
    data2= data2.drop_duplicates()
     
    return data2


data_cleaned=cleaning_data_general(data)
data_cleaned.head(4)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344

In [20]:
def cleaning_gender(df: pd.DataFrame):
    
    data2 = df.copy()     # copy of original data to be on the safe side!
    gender_mapping = {'M':0, 'F':1,'Femal':1,'Male':0,'female':1,}
    data2['gender']=data2['gender'].map(gender_mapping)
    #replace Nan with 2
    data2['gender'] = data2['gender'].fillna(2)
    # cast the value integer
    data2['gender'] = data2['gender'].astype(int)
    return data2

data_cleaned=cleaning_gender(data_cleaned)
data_cleaned.head(4)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,2,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,1,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,1,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,0,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344

In [ ]:
# I tried different things and it took me so much time because I wanted to make a function 
# in which I do not pass the dataframe but the column gender and it did not work anyway :()
# the problem was with the data type and I tried different things and did research but it did not work at the end
'''

def cleaning_gender (gender):
    # I hope this clean gender
    #creating gender dic  
    gender_dic= {
        'F':1,
        'M':0,
        'Femal':1,
        'Male':0,
        'female':1,
        np.nan: 2
    }
    
    cleaned_gender=gender.replace(gender_dic)
    return clean_gender 
 
 
def cleaning_gender (gender):
    # I hope this clean gender
    # the nanvalues should be handled before becuase I could not figure it out and I get errors 
    #creating gender dic  
    gender_dic= {
        r'^F.*':1,
        r'^M.*':2,
    }
    
    for pattern, replacement in gender_dic.items():
        if re.match(pattern, gender, flags=re.IGNORECASE):
            return replacement


    ''''''
data.state=data.state.map({'Washington':'Washington','Arizona':'Arizona','Nevada':'Nevada', 'California':'California','Oregon':'Oregon','Cali':'California','AZ':'Arizona', 'WA':'Washington'})
data.education=data.education.str.replace("Bachelors","Bachelor")
data.vehicle_class=data.vehicle_class.str.replace(["Sports Car", "Luxury SUV", "Luxury Car"],"Luxury").fillna(data.vehicle_class)
data.customer_lifetime_value = data.customer_lifetime_value.str.replace('%','')
data.customer_lifetime_value = data.customer_lifetime_value.astype(float)
data.number_of_open_complaints = data.number_of_open_complaints.str.split('/').str[1].astype(float)
data_nul_values_after_cleaning=data.isnull().sum()
# I hope I did it correctly now I have only in gender and customerlifevalue null values
# I prefer to handle the gender missing values with making M:0, F:1 and Nan:2, in2024 we have a lot of genders :) 
data.gender=data.gender.map({'M':0,'F':1}).fillna(2)
# here there was only 3 missing values I think using mean is pretty much alright.
data.customer_lifetime_value = data.customer_lifetime_value.fillna(data.customer_lifetime_value.mean)
display(data.select_dtypes(include='number'))
column_number=data.select_dtypes(include='number').columns # I got error because I had forgotten the .columns
data[column_number]=data[column_number].astype(int)
data.duplicated().sum()

'''

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [9]:
# I do not have time for this one, as I wasted too much time on the previous function